/*-----------------------------------------------------------------------------------------------------
    [typography]
-------------------------------------------------------------------------------------------------------*/
body {  
  font-family: $arial;
  color: $text-color;
}

h1, h2, h3, h4, h5, h6 { 
  font-family: $secondary-font;
  color: $title-color; 
}

h1, .h1-like { 
  font-size: 20px; 
  @include mq($small) {
    font-size: 20px; 
  }
}
h2, .h2-like { 
  font-size: 18px; 
  @include mq($small) {
    font-size: 18px;
  }
}
h3, .h3-like { 
  font-size: 16px; 
  @include mq($small) {
    font-size: 16px;
  }
}
h4, .h4-like { 
  font-size: 14px; 
  @include mq($small) {
    font-size: 14px;
  }
}
h5, .h5-like { 
  font-size: 14px; 
}
h6, .h6-like { 
  font-size: 14px; 
}



/* hammersmith-one-regular - latin */
@font-face {
  font-family: 'Hammersmith One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Hammersmith One'), local('HammersmithOne'),
       url('../fonts/hammersmith-one-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/hammersmith-one-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


