      <article class="block-author">
        <a class="block-author__img js-author-open" href="#{{ user.id }}">
          <picture class="img-responsive">
             <source
              srcset="{{img_path}}/author/placeholder.jpg"
              data-srcset="{{img_path}}/author/{{ user.avatar }}.webp" 
              type="image/webp">
              <source
              srcset="{{img_path}}/author/placeholder.jpg"
              data-srcset="{{img_path}}/author/{{ user.avatar }}.jpg" 
              type="image/jpg">
              <img class="lazyload" src="{{img_path}}/author/placeholder.jpg" data-src="{{img_path}}/author/{{ user.avatar }}.jpg" alt="Avatar de {{ user.name }}">
          </picture>
        </a>
        <div class="block-author__text">
          <h2 class="block-author__name">{{ user.name }}</h2>
          {% if user.job %}
            <p class="block-author__job">{{ user.job }}</p>
          {% endif %}
          {% if user.email %}
            <ul class="block-author__link">
              {% if user.insta %}
                <li><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></li>
              {% endif %}
              {% if user.insta %}
                <li><a href="{{ user.insta }}">{{ user.insta }}</a></li>
              {% endif %}
              {% if user.email %}
                <li><a href="mailto:{{ user.email }}">{{ user.email }}</a></li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </article>
      <a class="block-author__close js-author-close" href="#">Fermer</a>