<!doctype html> 
<html lang="fr">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8"> 
  <title>{{ page_title }}</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="980sm0EsouY9ILr9s5HKypkoMvEhP-AzeokWvBTlF60" />
	
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
	
	<!-- Load CSS -->
	{% if css_base %}
		<link rel="stylesheet" type="text/css" href="assets/css/{{ css_base }}.min.css">
	{% endif %}



</head>

<body class="{{ body_class }}">
	
	{% include "modules/header.html" %}
	<!-- //END Header -->

	{% block page_content %}{% endblock %}

	{% include "modules/footer.html" %}
	<!-- //END Footer -->
	

	{% if js_base %}
		<script type="text/javascript" src="assets/js/app.js"></script>
		<!--<script type="text/javascript" src="assets/js/svg4everybody.min.js"></script>-->
		<script>
			/*
			* SVG polyfill for IE 9-11
			* Doc : https://github.com/jonathantneal/svg4everybody
			*/
			//svg4everybody(); // run it now or whenever you are ready
		</script>
	{% endif %}

	
</body>
</html>
