/*-----------------------------------------------------------------------------------------------------
    [Master Stylesheet]
	by : mr-rayures.com
    Version : 1.1

    Projet : 
		
		Global namespace : BEM
			- DOC : http://bradfrost.com/blog/post/css-architecture-for-design-systems/
			- BEM by Exemple : https://seesparkbox.com/foundry/bem_by_example

    Accessibility
    	- Tips : https://webaccessibility.guide/
    	- Checklist : https://a11yproject.com/checklist
    	- Tools : https://benrobertson.io/accessibility/tools-for-website-audits
-------------------------------------------------------------------------------------------------------*/

/*
* Let's import basic stuff
*/
@import "helpers/_variables";
@import "helpers/_mixins";

/*
* SVG in css 
* Need to be generated width GULP "icons-css" task
*/
@import "helpers/_sass-inline-svg.scss";

@import "global/_reset";
@import "global/_typography";
@import "global/_utilities";
@import "global/_commons";


/*
* Let's styling \o/
*/
@import "components/_block-author";
@import "components/_buttons";
@import "components/_icons";
@import "components/_misc";

@import "modules/_footer";
@import "modules/_header";
@import "modules/_list-author";


@import "layout/_ui";



