/*-----------------------------------------------------------------------------------------------------
    [ui]
-------------------------------------------------------------------------------------------------------*/
/*
* Global layout style
*/
.l-container {
  padding: 0 10px;
  max-width: $max-width;
  margin: 0 auto;
}

.main {
	padding: 40px;
	@include mq(small) {
		padding: 20px 10px;
	}

}

