<!-- index.html -->
{% extends "templates/layout.html" %}

<!-- //START page variables -->
{% set page_title = "Atelier Le Gratin - Atelier collectif basé à Angoulême" %}
{% set body_class = "" %}
{% set css_base = "app" %}
{% set js_base = "app" %}
<!-- //END page variables -->


<!-- //START page Content -->
{% block page_content %}
  
	<ul class="m-list m-list--author">
		{% for user in users %}
      <li class="m-list__items" id="{{ user.id }}">
      	{% include "templates/blocks/author.html" %}
      </li>
    {% endfor %}
	</ul>


{% endblock %}
<!-- //END page Content -->
